@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  text-size-adjust: 100%;
}
body {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #222;
  background: #f8f8f8;
}
#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
a {
  color: rgba(247,65,65,0.761);
  text-decoration: none;
  transition: 0.5s;
}
a:hover,
a:active,
a:focus {
  color: #f11111;
  outline: none;
  text-decoration: none;
}
p {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 15px;
}
h1,
h2,
h3,
h4,
h5,
figure {
  color: #111;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 5px;
}
h2.pagehead {
  padding: 20px 0px 0px 60px;
  color: #000;
}
h2.title {
  padding-left: 8px;
  border-left: 4px solid #b70038;
}
h2.title a {
  color: #444;
}
::selection {
  color: #fff;
  background: rgba(247,65,65,0.761);
}
.lx-navigation {
  max-width: 960px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
}
.lx-navigation .prev {
  transition: 0.5s;
  text-align: right;
  border-radius: 0 15px 15px 0;
}
.lx-navigation .prev:hover {
  padding-right: 30px;
}
.lx-navigation .next {
  transition: 0.5s;
  text-align: left;
  border-radius: 15px 0 0 15px;
}
.lx-navigation .next:hover {
  padding-left: 30px;
}
.lx-navigation .lx-cover {
  width: 50%;
  height: 132px;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.lx-navigation .lx-cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.lx-navigation .next .overlay {
  border-radius: 15px 0 0 15px;
}
.lx-navigation .prev .overlay {
  border-radius: 0 15px 15px 0;
}
.lx-navigation .lx-cover .copy {
  position: relative;
  z-index: 2;
  display: block;
}
.lx-navigation .lx-cover .copy .display-t,
.lx-navigation .lx-cover .copy .display-tc {
  height: 132px;
  display: table;
  width: 100%;
}
.lx-navigation .lx-cover .copy .display-tc {
  display: table-cell;
  vertical-align: middle;
}
.lx-navigation .lx-cover .copy .display-tc div {
  padding: 30px;
}
.lx-navigation .lx-cover .copy .display-tc div span {
  display: block;
  margin-bottom: 5px;
  color: rgba(255,255,255,0.5);
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.05em;
}
.lx-navigation .lx-cover .copy .display-tc div h3 {
  margin-bottom: 0;
  color: #fff;
  font-weight: 300;
}
#lx-aside {
  width: 38.2%;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  z-index: 3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.single #lx-aside {
  position: relative;
  height: 375px;
  width: 100%;
  border-radius: 15px;
}
.single #lx-aside .overlay {
  border-radius: 15px;
}
#lx-aside a {
  color: rgba(255,255,255,0.7);
}
#lx-aside a:hover {
  color: #fff;
}
#lx-aside .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0,0,0,0.5);
}
.single #lx-aside .page-title {
  right: 0;
  left: 0;
}
#lx-aside .page-title {
  z-index: 2;
  padding: 30px;
}
#lx-aside .featured {
  z-index: 2;
  margin: auto;
  margin-top: 35%;
  width: 85%;
  text-align: center;
}
.single #lx-aside .page-title {
  margin: 0 auto;
  text-align: center;
}
#lx-aside .featured h1 {
  color: #fff;
  font-weight: 400;
}
#lx-aside .page-title h2 {
  color: #fff;
  font-weight: 300;
}
.single #lx-aside .featured h2,
.single #lx-aside .page-title h2 {
  font-size: 52px;
}
#lx-aside .featured > span,
#lx-aside .page-title > span {
  display: block;
  color: rgba(255,255,255,0.8);
  font-size: 15px;
  letter-spacing: 0.05em;
  margin-bottom: 0;
}
#lx-aside .featured .avatar img,
#lx-aside .page-title .avatar img {
  margin-bottom: 0;
  width: 80px;
  border-radius: 50%;
  z-index: 19;
}
.popup-trigger {
  position: fixed;
  top: 40px;
  left: 33%;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  z-index: 5;
}
.single .popup-trigger {
  position: absolute;
  left: 90%;
}
.local-search-pop-overlay {
  background-color: rgba(0,0,0,0.2);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2080;
}
.local-search-popup {
  background: #fff;
  border-radius: 0;
  color: #333;
  display: none;
  height: 80%;
  left: 50%;
  margin-left: -350px;
  padding: 0;
  position: fixed;
  top: 10%;
  width: 700px;
  z-index: 9999;
}
.local-search-popup ul.search-result-list {
  margin: 0 5px;
  padding: 0;
}
.local-search-popup p.search-result {
  border-bottom: 1px dashed #ccc;
  padding: 5px 0;
}
.local-search-popup a.search-result-title {
  font-weight: bold;
}
.local-search-popup .search-keyword {
  border-bottom: 1px dashed #f00;
  color: #f00;
  font-weight: bold;
}
.local-search-popup .local-search-header {
  background: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 50px;
  padding: 5px;
}
.local-search-popup #local-search-result {
  height: calc(100% - 55px);
  overflow: auto;
  padding: 5px 25px;
  position: relative;
}
ul.search-result-list li a {
  color: #333;
}
.local-search-popup .local-search-input-wrapper {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
  position: absolute;
  width: calc(100% - 90px);
}
.local-search-popup .local-search-input-wrapper input {
  font-size: 18px;
  background: transparent;
  border: none;
  height: 40px;
  outline: none;
  padding: 8px 0;
  vertical-align: middle;
  width: 100%;
}
.local-search-popup .search-icon,
.local-search-popup .popup-btn-close {
  color: #999;
  display: inline-block;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.local-search-popup .search-icon {
  float: left;
}
.local-search-popup .popup-btn-close {
  border-left: 1px solid #fff;
  cursor: pointer;
  float: right;
}
.local-search-popup #no-result {
  color: #ccc;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.social-links i {
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin: 5px 2px;
  padding: 0;
  color: #fff;
  background: radial-gradient(#000, #fff);
  font-size: 15px;
  border-radius: 50%;
  z-index: 2;
}
.tags {
  color: #187775;
}
footer {
  clear: both;
  font-size: 12px;
  padding: 20px 60px;
}
.single .header {
  padding: 10px 10px 0 10px;
  max-width: 960px;
  margin: 0 auto;
}
.single footer > div {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
#lx-main-content {
  margin-left: 38.1966%;
  position: relative;
  z-index: 4;
}
.single #lx-main-content {
  margin-left: 0;
  max-width: 960px;
  margin: 0 auto;
}
.lx-post-detail {
  color: #616161;
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.05em;
  border-left: 4px solid rgba(247,65,65,0.761);
  padding-left: 10px;
}
a.category-link {
  font-size: 14px;
}
.padding {
  padding: 20px 60px 30px 60px;
}
.lx-post {
  padding: 10px;
}
.lx-post .lx-entry {
  float: left;
  width: 100%;
  border: none;
  border-radius: 15px;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.02);
}
.single .lx-post .lx-entry {
  border: 1px solid #dedede;
  box-shadow: none;
}
.lx-post .lx-entry > div {
  width: 100%;
  float: left;
  margin-top: 0px;
}
.single .lx-post .lx-entry > div {
  margin-right: 0;
  width: 100%;
}
.post-button {
  text-align: right;
  margin-top: 20px;
}
.lx-entry video {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.lx-entry img {
  box-sizing: border-box;
  margin: auto;
  max-width: 100%;
  padding: 3px;
  border-radius: 10px;
  height: auto;
}
.single .lx-post .lx-entry > div h2 {
  margin-bottom: 10px;
  font-weight: 100;
  border-bottom: 0.5px solid #dedede;
}
.lx-entry > div p:last-child {
  margin-bottom: 0;
}
.lx-entry ul,
.lx-entry ol {
  margin-left: 17.97px;
}
#pagination {
  text-align: center;
  overflow: hidden;
  margin-top: 1rem;
  width: 100%;
}
#pagination .page-number.current {
  background: #009688;
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: default;
}
#pagination .page-number {
  display: inline-block;
  margin: 0 0.2rem;
  min-width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  line-height: 1.2rem;
  cursor: pointer;
}
.comment {
  padding: 10px;
  margin-left: 0;
  max-width: 960px;
  margin: 0 auto;
}
.v .vwrap {
  background: #fff;
}
.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 30px;
  height: 30px;
  display: table;
  background: rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
  border-radius: 4px;
}
.gototop a i {
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover,
.gototop a:active,
.gototop a:focus {
  text-decoration: none;
  outline: none;
}
@media screen and (max-width: 768px) {
  #lx-aside {
    width: 100%;
    position: relative;
    z-index: 4;
    height: 375px;
  }
  #lx-aside {
    border-radius: 15px;
  }
  #lx-aside .featured {
    margin-top: 10%;
  }
  #lx-aside .overlay {
    border-radius: 15px;
  }
  .header {
    padding: 10px 10px 0 10px;
    max-width: 960px;
    margin: 0 auto;
  }
  #lx-main-content {
    margin-left: 0;
  }
  .padding {
    padding: 30px;
  }
  .lx-post .lx-entry > div {
    width: 100%;
    margin-right: 0;
  }
  .lx-post .lx-entry > div h2 {
    font-size: 24px;
  }
  .single #lx-aside .page-title h2 {
    font-size: 40px;
  }
  h2.pagehead {
    padding: 20px 0px 0px 30px;
  }
  .lx-navigation .lx-cover .copy .display-tc div span {
    margin-bottom: 0;
    font-size: 0.8em;
  }
  .lx-navigation .lx-cover .copy .display-tc div h3 {
    margin: 0;
    font-size: 0.7em;
  }
  footer {
    padding: 20px 30px;
  }
  .local-search-popup {
    height: 100%;
    left: 0;
    margin: 0;
    top: 0;
    width: 100%;
  }
  .popup-trigger {
    position: absolute;
    left: 90%;
  }
}
.hamburger {
  position: fixed;
  right: 20px;
  bottom: 60px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(247,65,65,0.761);
  line-height: 0;
  z-index: 21;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  border: 0;
  margin: 0;
  overflow: visible;
}
.menu-trigger:hover {
  opacity: 0.7;
}
.menu-trigger.is-active:hover {
  opacity: 0.7;
}
.menu-trigger.is-active .hamburger-inner,
.menu-trigger.is-active .hamburger-inner::before,
.menu-trigger.is-active .hamburger-inner::after {
  background-color: #fff;
}
.hamburger-box {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
  margin-left: 4px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 21px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -5px;
}
.hamburger-inner::after {
  bottom: -5px;
}
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}
.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}
.menu {
  position: fixed;
  z-index: 20;
}
.menu.visibility {
  visibility: hidden;
}
:root {
  --skin: #444;
  --skin-hover: rgba(0,0,0,0.2);
  --skin-color: rgba(255,255,255,0.9);
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
}
.menu-container {
  overflow: auto;
  display: block;
  top: 120px;
}
.position-right {
  right: -270px;
}
.position-right.open {
  right: 0;
}
.menu-container,
.menu-head,
.menu-right,
.menu-right.open {
  transition: 0.4s;
}
.menu-container,
.menu-head {
  background: var(--skin);
  position: fixed;
  width: 270px;
}
.menu-head .layer {
  background: rgba(0,0,0,0.2);
  display: block;
  padding: 15px;
}
.menu-head {
  height: 120px;
  box-sizing: border-box;
  margin: 0px;
  top: 0;
}
.menu-items {
  list-style: none;
  font-size: 14px;
}
.menu .dropdown-heading,
.menu .menu-items li a {
  text-decoration: none;
  padding: 10px;
  display: block;
  color: var(--skin-color);
  border-bottom: 1px dotted rgba(255,255,255,0.05);
  margin: 0;
  cursor: pointer;
  user-select: none;
}
.menu-items li i {
  font-size: 16px;
  margin-right: 10px;
}
.dropdown-heading:hover,
.menu-items li a:hover {
  background: var(--skin-hover);
}
.has-sub ul {
  list-style: none;
  overflow: hidden;
  display: none;
  background: #f2f9f9;
}
.menu .has-sub ul li a {
  display: block;
  padding: 12px 33px;
  border-bottom: 0;
  font-size: 13px;
  color: #444;
  transition: 0.1s;
  border-bottom: 1px dotted #e1e1e1;
}
.has-sub ul li a:hover {
  background: #dedede;
  transition: 0.1s;
}
.has-sub span {
  display: block;
  box-sizing: border-box;
}
.has-sub i.fa-chevron-down {
  float: right;
  margin-right: 10px;
  transition: 0.36s;
  font-size: 16px;
}
.has-sub .fa-chevron-down.fa-down {
  transform: rotateZ(180deg);
  transition: 0.36s;
}
.col {
  display: table;
}
.row {
  display: table-cell;
  vertical-align: middle;
}
.for-name {
  max-width: 172px;
  padding: 10px 0 10px 10px;
  color: var(--skin-color);
}
.for-pic {
  max-width: 70px;
}
.profile-pic img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.01);
  object-fit: cover;
}
.menu-head p {
  font-size: 17px;
  font-weight: 400;
}
.tagline,
.menu-head p {
  margin: 0 0 4px 0;
  display: block;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tagline {
  font-size: 11px;
  display: block;
}
.red {
  background: #e41b17;
  --skin-hover: #000;
  --skin-color: #fff;
}
.green {
  background: #3ea055;
  --skin-hover: rgba(0,0,0,0.1);
  --skin-color: rgba(255,255,255,0.9);
}
.blue {
  background: #1589ff;
  --skin-hover: #000;
  --skin-color: #fff;
}
.bnp {
  background: #f433ff;
  --skin-hover: rgba(0,0,0,0.1);
  --skin-color: rgba(255,255,255,0.9);
}
.orange {
  background: #f87217;
}
.black {
  background: #000;
}
.pink {
  background: #f535aa;
}
.gol-b {
  background: #eac117;
}
.greenish {
  background: #307d7e;
}
.wood {
  background: #966f33;
}
.endless-river {
  --theme-color: #43cea2;
  background: #43cea2;
/* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --theme-color: linear-gradient(to right, #185a9d, #43cea2);
}
.crazy-orange {
  --theme-color: #d38312;
  background: #d38312;
/* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a83279, #d38312);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --theme-color: linear-gradient(to right, #a83279, #d38312);
}
.between-clouds {
  --theme-color: #73c8a9;
  background: #73c8a9;
/* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #373b44, #73c8a9);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --theme-color: linear-gradient(to right, #373b44, #73c8a9);
}
.amethyst {
  --theme-color: #9d50bb;
  background: #9d50bb;
/* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6e48aa, #9d50bb);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --theme-color: linear-gradient(to right, #6e48aa, #9d50bb);
}
.steel-man {
  --theme-color: #780206;
  background: #780206;
/* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #061161, #780206);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --theme-color: linear-gradient(to right, #061161, #780206);
}
.d2f {
  --theme-color: #ff4e50;
  background: #ff4e50;
/* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f9d423, #ff4e50);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --theme-color: linear-gradient(to right, #f9d423, #ff4e50);
}
.park-life {
  --theme-color: #add100;
  background: #add100;
/* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7b920a, #add100);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --theme-color: linear-gradient(to right, #7b920a, #add100);
}
.moonlit {
  --theme-color: #0f2027;
  background: #0f2027;
/* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --theme-color: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}
.fb-messenger {
  --theme-color: #00c6ff;
  background: #00c6ff;
/* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --theme-color: linear-gradient(to right, #0072ff, #00c6ff);
}
.flickr {
  --theme-color: #ff0084;
  background: #ff0084;
/* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #33001b, #ff0084);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --theme-color: linear-gradient(to right, #33001b, #ff0084);
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
pre,
.highlight {
  overflow: auto;
  margin: 20px 0;
  padding: 0;
  font-size: 14px;
  color: #4d4d4c;
  background: #f7f7f7;
  line-height: 1.6;
}
code {
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 2px 4px;
  color: #fc5185;
  background: #eee;
  border-radius: 3px;
  font-size: 14px;
}
pre {
  padding: 10px;
}
pre code {
  padding: 0;
  color: #4d4d4c;
  background: none;
  text-shadow: none;
}
.highlight {
  border-radius: 1px;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 10px 0;
}
.highlight table {
  margin: 0;
  width: auto;
  border: none;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 1em;
  color: #4d4d4c;
  line-height: 1em;
  margin-bottom: 1em;
  margin: 0em;
  padding: 0.5em;
  background: #eee;
  border-bottom: 1px solid #e9e9e9;
}
.highlight figcaption:before,
.highlight figcaption:after {
  content: " ";
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight figcaption a {
  float: right;
  color: #4d4d4c;
}
.highlight figcaption a:hover {
  border-bottom-color: #4d4d4c;
}
.highlight .gutter pre {
  padding-left: 10px;
  padding-right: 10px;
  color: #869194;
  text-align: right;
  background-color: #eff2f3;
}
.highlight .code pre {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f7f7f7;
}
.highlight .line {
  height: 20px;
}
.gutter {
  user-select: none;
}
.gist table {
  width: auto;
}
.gist table td {
  border: none;
}
pre .deletion {
  background: #fdd;
}
pre .addition {
  background: #dfd;
}
pre .meta {
  color: #8959a8;
}
pre .comment {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .name,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .builtin-name,
pre .literal,
pre .params,
pre .constant,
pre .command {
  color: #f5871f;
}
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .symbol,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .formula {
  color: #718c00;
}
pre .title,
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
.lx-post .label {
  display: inline;
  padding: 0 2px;
  white-space: nowrap;
}
.lx-post .label.default {
  background-color: #f0f0f0;
}
.lx-post .label.primary {
  background-color: #efe6f7;
}
.lx-post .label.info {
  background-color: #e5f2f8;
}
.lx-post .label.success {
  background-color: #e7f4e9;
}
.lx-post .label.warning {
  background-color: #fcf6e1;
}
.lx-post .label.danger {
  background-color: #fae8eb;
}
.lx-post .note {
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border-left-width: 8px;
  border-radius: 0;
}
.lx-post .note h2,
.lx-post .note h3,
.lx-post .note h4,
.lx-post .note h5,
.lx-post .note h6 {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: initial;
  padding-top: 0 !important;
}
.lx-post .note p:first-child,
.lx-post .note ul:first-child,
.lx-post .note ol:first-child,
.lx-post .note table:first-child,
.lx-post .note pre:first-child,
.lx-post .note blockquote:first-child {
  margin-top: 0;
}
.lx-post .note p:last-child,
.lx-post .note ul:last-child,
.lx-post .note ol:last-child,
.lx-post .note table:last-child,
.lx-post .note pre:last-child,
.lx-post .note blockquote:last-child {
  margin-bottom: 0;
}
.lx-post .note.default {
  border-left-color: #777;
}
.lx-post .note.default h2,
.lx-post .note.default h3,
.lx-post .note.default h4,
.lx-post .note.default h5,
.lx-post .note.default h6 {
  color: #777;
}
.lx-post .note.primary {
  border-left-color: #6f42c1;
}
.lx-post .note.primary h2,
.lx-post .note.primary h3,
.lx-post .note.primary h4,
.lx-post .note.primary h5,
.lx-post .note.primary h6 {
  color: #6f42c1;
}
.lx-post .note.info {
  border-left-color: #428bca;
}
.lx-post .note.info h2,
.lx-post .note.info h3,
.lx-post .note.info h4,
.lx-post .note.info h5,
.lx-post .note.info h6 {
  color: #428bca;
}
.lx-post .note.success {
  border-left-color: #5cb85c;
}
.lx-post .note.success h2,
.lx-post .note.success h3,
.lx-post .note.success h4,
.lx-post .note.success h5,
.lx-post .note.success h6 {
  color: #5cb85c;
}
.lx-post .note.warning {
  border-left-color: #f0ad4e;
}
.lx-post .note.warning h2,
.lx-post .note.warning h3,
.lx-post .note.warning h4,
.lx-post .note.warning h5,
.lx-post .note.warning h6 {
  color: #f0ad4e;
}
.lx-post .note.danger {
  border-left-color: #d9534f;
}
.lx-post .note.danger h2,
.lx-post .note.danger h3,
.lx-post .note.danger h4,
.lx-post .note.danger h5,
.lx-post .note.danger h6 {
  color: #d9534f;
}
blockquote.blockquote-center {
  position: relative;
  margin: 1.5em auto;
  padding-left: 40px;
  border: none;
}
blockquote.blockquote-center::before {
  position: absolute;
  left: 0;
  content: ' ';
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 25px;
}
.blockquote-center::before,
blockquote::before {
  background-image: url("../images/quote.svg");
  border: none;
}
blockquote.blockquote-center p {
  line-height: 1.618;
  text-align: center;
  hyphens: auto;
}
blockquote {
  border-left: 0.25em solid #dedede;
  color: #6b6b6b;
  padding: 0 1em;
  margin-bottom: 15px;
}
.post-button a.btn {
  display: inline-block;
  padding: 0 20px;
  font-size: 14px;
  color: #fff;
  background: #58be8e;
  border: none;
  text-decoration: none;
  border-radius: 9999px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  line-height: 2;
}
.btn,
a.btn {
  display: inline-block;
  padding: 0 20px;
  font-size: 14px;
  color: #555;
  border: 2px solid #555;
  text-decoration: none;
  border-radius: 2px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  line-height: 2;
}
.btn:hover {
  border-color: #222;
  color: #fff;
  background: #222;
}
.btn +.btn {
  margin: 0 0 8px 8px;
}
.btn .fa-fw {
  width: 1.285714285714286em;
  text-align: left;
}
.btn-bar {
  display: block;
  width: 22px;
  height: 2px;
  background: #555;
  border-radius: 1px;
}
.btn-bar+.btn-bar {
  margin-top: 4px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.875em;
  margin: 0 0 20px 0;
  width: 100%;
  overflow-wrap: anywhere;
}
tbody tr:nth-of-type(odd) {
  background: #f9f9f9;
}
tbody tr:hover {
  background: #f5f5f5;
}
caption,
th,
td {
  font-weight: normal;
  padding: 8px;
  vertical-align: middle;
}
th,
td {
  border: 1px solid #ddd;
  border-bottom: 3px solid #ddd;
}
th {
  font-weight: 700;
  padding-bottom: 10px;
}
td {
  border-bottom-width: 1px;
}
mjx-container {
  overflow-x: auto;
  overflow-y: hidden;
}
