<div id="page">
<%-partial('partials/aside')%>
<div id="lx-main-content">
  <div class="lx-post"> 
<%-partial('partials/recent-posts')%>
<%-partial('partials/pagination')%>
<%-partial('partials/footer')%>
  </div>
</div>
</div>