<%const archivesList = list_archives();%>
<div id="page">
<%-partial('partials/aside')%>
<div id="lx-main-content">
  <div class="lx-post">

<%-partial('partials/pagination')%>
<%-partial('partials/footer')%>
  </div>
</div>
</div>