/*----------
Color
----------*/

/*--base--*/
$black = #000
$black-t-9 = rgba(0,0,0,0.9)
$black-t-5 = rgba(0,0,0,0.5)
$black-t-2 = rgba(0,0,0,0.2)
$black-g = rgba(68,68,68,1)
$black-s-h = #333
$black-s = #222
$black-l = #111
$white = #fff
$white-t-5 = rgba(255,255,255,0.5)
$white-l = #f8f8f8
$white-s = #f5f5f5
$grey-w = rgba(222,222,222,1)
$grey-b = #6b6b6b
$grey-l = #ccc
$grey-li = #ddd
$grey-lr = #f9f9f9
$grey-c = #999
$grey-s = #616161
$red-l = #f00
$red-h = #f11111
$red-s-t = #f74141c2
$blue-g = #187775
$deep-red = #b70038
$light-green = #58be8e
$green-classic = #009688

/*--a--*/
$a-post = $red-s-t
$a-hover-post = $red-h

/*--selection*/
$selection-color = $white
$selection-bg = $red-s-t

/*--tags--*/
$tags = $blue-g
