/*----------
Font
----------*/
$font = 'Montserrat' , 'Noto Serif SC' , sans-serif
$code-font = 'Montserrat' , 'Noto Serif SC' , sans-serif

/*----------
Color
----------*/

/*--base--*/
$black = #000
$black-t-5 = rgba(0,0,0,0.5)
$black-t-2 = rgba(0,0,0,0.2)
$black-t-1 = rgba(0,0,0,0.1)
$black-g = rgba(68,68,68,1)
$black-s-h = #333
$black-s = #222
$black-l = #111
$white = #fff
$white-t-9 = rgba(255,255,255,0.9)
$white-t-5 = rgba(255,255,255,0.5)
$white-t-05 = rgba(255,255,255,0.05)
$white-t-01 = rgba(255, 255, 255, 0.01)
$white-l = #fafafa
$white-blue = rgba(242,249,249,1)
$white-h = #f2f2f2
$grey-w = rgba(222,222,222,1)
$grey-h = #989898
$grey-b = #6b6b6b
$grey-l = #ccc
$grey-c = #999
$grey-s = #616161
$grey-g = #e1e1e1
$red = #e41b17
$red-l = #f00
$red-h = #f11111
$red-s-t = #f74141c2
$blue-g = #187775
$green = #3ea055
$blue = #1589ff
$bnp= #f433ff //bright-neom-pink
$orange = #f87217
$pink = #f535aa
$gol-b = #eac117 //golden-brown
$greenish = #307d7e
$wood = #966f33
$blue-l = #00fcff

/*--menu --*/
$memu-button = $black
$menu-button-tap = $black-t-2

/*--search-button--*/
$search-button = $black
$search-button-side-1 = $green
$search-button-side-2 = $blue-l

/*--a--*/
$a = $grey-h
$a-hover = $grey-b
$a-post = $red-s-t
$a-hover-post = $red-h

/*--selection*/
$selection-color = $white
$selection-bg = $red-s-t

/*--tags--*/
$tags = $blue-g
