.hamburger {
  position: fixed;
  right: 20px;
  bottom: 60px;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: $red-s-t;
  line-height: 0;
  z-index: 21;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  border: 0;
  margin: 0;
  overflow: visible;
}
.menu-trigger:hover {
  opacity: 0.7;
}
.menu-trigger.is-active:hover {
  opacity: 0.7;
}
.menu-trigger.is-active .hamburger-inner,
.menu-trigger.is-active .hamburger-inner::before,
.menu-trigger.is-active .hamburger-inner::after {
  background-color: $white;
}
.hamburger-box {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
  margin-left: 4px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 21px;
  height: 2px;
  background-color: $white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -5px;
}
.hamburger-inner::after {
  bottom: -5px;
}
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}
.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}
