.menu-trigger{
  position: fixed;
  right: 20px;
  bottom: 60px;
  border: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: $white;
  border-radius: 50%;
  background-color: $deep-red;
  z-index: 4;
}
.menu-trigger:hover{
  opacity: 0.8;
  -webkit-opacity: 0.8;
}

.menu-trigger:before{
  font-family: 'FontAwesome';
  content: '\f100';
  font-size: 18px;
}
