<footer>
  <div>
  Copyright &copy; 2019.<a href="<%- config.root%>"><%-config.title%></a><br>Powered by <a href="https://hexo.io" target="_blank">Hexo</a> | Theme <a href="https://lx.js.org" target="_blank">Lx</a><br><%-theme.footer%>
  </div>
</footer>
