<%if (page.prev || page.next){%><div id="pagination">
  <%-paginator({
    prev_text: '<i class="fa fa-chevron-left" aria-label="'+__('accessibility.prev_page')+'"></i>',
    next_text: '<i class="fa fa-chevron-right" aria-label="'+__('accessibility.next_page')+'"></i>',
    mid_size: 1
   })%>
</div><%}%>