<div class="social-links"><% for (var l in theme.social.links) {%>
    <a href="<%= theme.social.links[l].link%>" target="_blank"><i class="fa fa-<%= theme.social.links[l].icon%> fa-fw"></i></a><%}%>
</div>